{% extends 'main/base.html' %} {% load static humanize %} {% block content %}

<!-- main-area -->
<main>
	<!-- breadcrumb-area -->
	<section
		class="breadcrumb-area breadcrumb-bg"
		data-background="{{ donation.image_one.url }}"
	>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="breadcrumb-content text-center">
						<h2 class="title">Charity Causes Details</h2>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">
									Cause Details
								</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb-area-end -->

	<!-- donation-area -->
	<section class="inner-donation-area cause-details-area gray-bg pt-130 pb-100">
		<div class="container">
			{% if messages %}
			<div class="alert-messages mb-3">
				{% for message in messages %}
				<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
				{% endfor %}
			</div>
			{% endif %}
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="inner-donation-wrap">
						<div class="donation-form">
							<form action="" method="POST">
								{% csrf_token %}
								<div class="form-grp">
									<label for="name">Your Name</label>
									<div class="row">
										<div class="col-md-6">
											<input
												id="name"
												type="text"
												name="name"
												placeholder="First name"
											/>
										</div>
										<div class="col-md-6">
											<input
												type="text"
												placeholder="Last Name"
												name="lastname"
												id="lastname"
											/>
										</div>
									</div>
								</div>

								<div class="form-grp">
									<label for="email">Your Email</label>
									<input
										type="email"
										placeholder="Email Address"
										name="email"
										id="email"
									/>
								</div>

								<div class="form-grp">
									<label for="number"><i class="fal fa-lock"></i>Amount</label>
									<input
										type="number"
										placeholder="Amount"
										id="amount"
										name="amount"
									/>
								</div>
								<!-- <div class="row">
									<div class="col-md-6">
										<div class="form-grp">
											<label for="dateone">Expiration Month</label>
											<input
												id="dateone"
												type="text"
												class="date"
												placeholder="Select Date"
											/>
										</div>
									</div>
								</div> -->

								<div class="donation-btn text-center mt-30">
									<button type="submit" class="btn">
										<i class="far fa-heart"></i>Make Donation
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 col-sm-10">
					<aside class="donation-sidebar">
						<div class="donation-widget">
							<span>Key Details</span>
							<h2 class="funding-title">{{ donation.title }}</h2>
							<img
								src="{{ donation.image_one.url }}"
								alt=""
								width="100%"
								height="200"
								style="object-fit: cover"
							/>
							<div class="cause-amounts text-center">
								<h2 class="title">
									${{ donation.amount_donated|floatformat:0|intcomma }}
									<span>of ${{ donation.goal|floatformat:0|intcomma }}</span>
								</h2>
								<div class="progress">
									<div
										class="progress-bar"
										role="progressbar"
										style="width:{{ donation.percentage_raised|floatformat:0 }}%"
										aria-valuenow="{{ donation.percentage_raised|floatformat:0 }}"
										aria-valuemin="0"
										aria-valuemax="100"
									></div>
								</div>
								<p>Raised by {{ donation.donators_count }} people</p>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
	<!-- donation-area-end -->
</main>
<!-- main-area-end -->

{% endblock %}
