{% extends 'main/base.html' %}
{% load static %}

{% block content %}

		<!-- main-area -->
		<main>
			<!-- slider-area -->
			<section class="slider-area">
				<div class="slider-active">
					<div
						class="single-slider slider-bg"
						data-background="{% static 'assets/img/slider/slider_bg01.jpg' %}"
					>
						<div class="container">
							<div class="row">
								<div class="col-xl-8 col-lg-10">
									<div class="slider-content">
										<h6 data-animation="fadeInUp" data-delay=".3s">
											<i class="fas fa-bookmark"></i> Raising money has never
											bee so easy
										</h6>
										<h2 data-animation="fadeInUp" data-delay=".6s">
											Bring Innovative Ideas To Life.
										</h2>
										<div class="slider-btn">
											<a
												href="causes.html"
												class="btn"
												data-animation="fadeInLeft"
												data-delay=".9s"
												>Explore Projects <span>+</span></a
											>
											<a
												href="donation.html"
												class="btn black-btn"
												data-animation="fadeInRight"
												data-delay=".9s"
												>Give Support <i class="fal fa-heart"></i
											></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="single-slider slider-bg"
						data-background="{% static 'assets/img/slider/slider_bg02.jpg' %}"
					>
						<div class="container">
							<div class="row">
								<div class="col-xl-8 col-lg-10">
									<div class="slider-content">
										<h6 data-animation="fadeInUp" data-delay=".3s">
											<i class="fas fa-bookmark"></i> Raising money has never
											bee so easy
										</h6>
										<h2 data-animation="fadeInUp" data-delay=".6s">
											Bring Innovative Ideas To Life.
										</h2>
										<div class="slider-btn">
											<a
												href="causes.html"
												class="btn"
												data-animation="fadeInLeft"
												data-delay=".9s"
												>Explore Projects <span>+</span></a
											>
											<a
												href="donation.html"
												class="btn black-btn"
												data-animation="fadeInRight"
												data-delay=".9s"
												>Give Support <i class="fal fa-heart"></i
											></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div
						class="single-slider slider-bg"
						data-background="{% static 'assets/img/slider/slider_bg03.jpg' %}"
					>
						<div class="container">
							<div class="row">
								<div class="col-xl-8 col-lg-10">
									<div class="slider-content">
										<h6 data-animation="fadeInUp" data-delay=".3s">
											<i class="fas fa-bookmark"></i> Raising money has never
											bee so easy
										</h6>
										<h2 data-animation="fadeInUp" data-delay=".6s">
											Bring Innovative Ideas To Life.
										</h2>
										<div class="slider-btn">
											<a
												href="causes.html"
												class="btn"
												data-animation="fadeInLeft"
												data-delay=".9s"
												>Explore Projects <span>+</span></a
											>
											<a
												href="donation.html"
												class="btn black-btn"
												data-animation="fadeInRight"
												data-delay=".9s"
												>Give Support <i class="fal fa-heart"></i
											></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- slider-area-end -->

			<!-- features-area -->
			<section class="features-area pt-100 pb-50">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8">
							<div class="section-title text-center mb-45">
								<div class="overlay-title">Process</div>
								<span class="sub-title">-- Process --</span>
								<h2 class="title">How It Works</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-4 col-sm-6">
							<div
								class="features-item text-center mb-50 wow fadeInUp"
								data-wow-delay=".2s"
							>
								<div class="features-count">
									<span>01</span>
								</div>
								<div class="features-content">
									<h5>Add Your Listing</h5>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="features-icon">
									<img
										src="{% static 'assets/img/icon/features_icon01.png' %}"
										alt=""
									/>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div
								class="features-item text-center mb-50 wow fadeInUp"
								data-wow-delay=".4s"
							>
								<div class="features-count">
									<span>02</span>
								</div>
								<div class="features-content">
									<h5>Add Price & Limit</h5>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="features-icon">
									<img
										src="{% static 'assets/img/icon/features_icon02.png' %}"
										alt=""
									/>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div
								class="features-item text-center mb-50 wow fadeInUp"
								data-wow-delay=".6s"
							>
								<div class="features-count">
									<span>03</span>
								</div>
								<div class="features-content">
									<h5>Get Backers</h5>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit,
										sed do eiusmod tempor incididunt ut labore et dolore magna.
									</p>
								</div>
								<div class="features-icon">
									<img
										src="{% static 'assets/img/icon/features_icon03.png' %}"
										alt=""
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- features-area-end -->

			<!-- category-area -->
			<section class="category-area gray-bg pt-100 pb-70">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6">
							<div class="section-title title-style-two">
								<div class="section-title mb-50">
									<div class="overlay-title">Category</div>
									<span class="sub-title">-- Category</span>
									<h2 class="title">Featured Category</h2>
								</div>
							</div>
						</div>
						<div class="col-xl-6">
							<div class="section-text mb-50">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip.
								</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon01.svg' %}"
									alt=""
								/><span>Clothing</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon02.svg' %}"
									alt=""
								/><span>Film & Video</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon03.svg' %}"
									alt=""
								/><span>Foods</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon04.svg' %}"
									alt=""
								/><span>Games</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon05.svg' %}"
									alt=""
								/><span>Handy Craft</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon06.png' %}"
									alt=""
								/><span>Clothing</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon07.png' %}"
									alt=""
								/><span>Journalism</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon08.png' %}"
									alt=""
								/><span>Music</span></a
							>
						</div>
						<div class="col-20">
							<a href="causes.html" class="category-item"
								><img
									src="{% static 'assets/img/icon/category_icon09.png' %}"
									alt=""
								/><span>Technology</span></a
							>
						</div>
					</div>
				</div>
			</section>
			<!-- category-area-end -->

			<!-- support-area -->
			<section class="support-area">
				<div class="container">
					<div class="row g-0">
						<div class="col-lg-6">
							<div
								class="support-item support-bg"
								data-background="{% static 'assets/img/images/support_img01.jpg' %}"
							>
								<div class="section-title text-center">
									<span class="sub-title">-- Need Support --</span>
									<h2 class="title">Get Backers</h2>
									<div class="support-btn">
										<a href="causes.html" class="btn"
											>Explore Projects<span>+</span></a
										>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div
								class="support-item support-bg"
								data-background="{% static 'assets/img/images/support_img02.jpg' %}"
							>
								<div class="section-title text-center">
									<span class="sub-title">-- Give Support --</span>
									<h2 class="title">Support Projects</h2>
									<div class="support-btn">
										<a href="causes.html" class="btn"
											>Explore Projects<span>+</span></a
										>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- support-area-end -->

			<!-- project-area -->
			<section class="project-area pt-100 pb-100">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-6 col-lg-8">
							<div class="section-title text-center mb-55">
								<div class="overlay-title">Featured</div>
								<span class="sub-title">-- Featured --</span>
								<h2 class="title">Featured Projects</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						{% for donation in donations %}
						<div class="col-lg-4 col-md-6 col-sm-10">
							<div class="project-item mb-30">
								<div class="project-thumb">
									<a href="{% url 'main:business_details' donation.id %}"
										><img
											src="{{ donation.image_one.url }}"
											alt=""
											title="{{ donation.title }}"
											width="400"
											height="300"
										/></a>
									<a href="{% url 'main:business_details' donation.id %}" class="tag">{{ donation.app_user.user.username }}</a>
								</div>
								<div class="project-content">
									<h2 class="title">
										<a href="{% url 'main:business_details' donation.id %}"
											>{{ donation.description|truncatewords:10 }}</a
										>
											method</a
										>
									</h2>
									<div class="progress-bar-details">
										<div class="progress">
											<div
												class="progress-bar"
												role="progressbar"
												style="width: {{ donation.percentage_raised|floatformat:0 }}%"
												aria-valuenow="{{ donation.percentage_raised|floatformat:0 }}"
												aria-valuemin="0"
												aria-valuemax="100"
											></div>
										</div>
										<div class="cause-amounts row">
											<div class="col-6">
												<span>${{ donation.amount_donated|floatformat:2 }}</span>
												<p>Raised</p>
											</div>
											<div class="col-6">
												<span>${{ donation.goal|floatformat:2 }}</span>
												<p>Goal</p>
											</div>
										</div>
									</div>
									<div class="project-meta">
										<ul>
											<li>
												<a href="#"><i class="fas fa-user"></i>By {{ donation.app_user.user.username }}</a>
											</li>
											<li><i class="fas fa-calendar-alt"></i>{{ donation.pub_date }}</li>
											<li>
												<a href="#"><i class="fas fa-heart"></i></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="more-project text-center mt-20">
						<a href="{% url 'main:businesses' %}" class="btn">More Projects <span>+</span></a>
					</div>
				</div>
			</section>
			<!-- project-area-end -->

			<!-- counter-area -->
			<section class="counter-area">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="counter-item">
								<div class="counter-img">
									<img
										src="{% static 'assets/img/icon/counter_icon01.png' %}"
										alt=""
									/>
								</div>
								<div class="counter-content">
									<h2 class="count">
										<span class="odometer" data-count="184"></span>K
									</h2>
									<p>Projects are Completed</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="counter-item">
								<div class="counter-img">
									<img
										src="{% static 'assets/img/icon/counter_icon02.png' %}"
										alt=""
									/>
								</div>
								<div class="counter-content">
									<h2 class="count">
										<span class="odometer" data-count="10"></span>M
									</h2>
									<p>Active Backers Around World</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="counter-item">
								<div class="counter-img">
									<img
										src="{% static 'assets/img/icon/counter_icon03.png' %}"
										alt=""
									/>
								</div>
								<div class="counter-content">
									<h2 class="count">
										<span class="odometer" data-count="20"></span>K
									</h2>
									<p>Categories Served</p>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="counter-item">
								<div class="counter-img">
									<img
										src="{% static 'assets/img/icon/counter_icon04.png' %}"
										alt=""
									/>
								</div>
								<div class="counter-content">
									<h2 class="count">
										<span class="odometer" data-count="90"></span>M
									</h2>
									<p>Ideas Raised Funds</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- counter-area-end -->

			<!-- cta-area -->
			<section class="cta-area cta-bg">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-6 col-lg-8">
							<div class="cta-img">
								<img
									src="{% static 'assets/img/images/cta_img.jpg' %}"
									alt=""
								/>
							</div>
						</div>
						<div class="col-xl-6 col-lg-10">
							<div class="cta-content">
								<div class="section-title mb-25">
									<span class="sub-title">-- Call To Action</span>
									<h2 class="title">We Help at Every Step from Concept.</h2>
								</div>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip.
								</p>
								<ul class="cta-list">
									<li>Raise funds with a crowdfunding campaign</li>
									<li>Extend your campaign with InDemand</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- cta-area-end -->

			<!-- testimonial-area -->
			<section class="testimonial-area gray-bg pt-100 pb-100">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-6 col-lg-5">
							<div class="section-title title-style-two mb-50">
								<div class="overlay-title">Feedbacks</div>
								<span class="sub-title">-- Testimonials</span>
								<h2 class="title">Happy Users</h2>
							</div>
						</div>
						<div class="col-xl-6 col-lg-7">
							<div class="section-text mb-50">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip.
								</p>
							</div>
						</div>
					</div>
					<div class="row testimonial-active">
						<div class="col-lg-4">
							<div class="testimonial-item">
								<div class="testimonial-content">
									<p>
										When you think about collecting customer feed back, it’s
										easy to get overwhelmed by the sheer volume of
										possibilities. With so many more customers — and so many
										ways to connect with their feedback — it’s hard to know to
										where to start.
									</p>
								</div>
								<div class="testi-avatar-wrap">
									<div class="testi-avatar-info">
										<div class="testi-avatar-thumb">
											<img
												src="{% static 'assets/img/images/testimonial-avatar01.jpg' %}"
												alt=""
											/>
										</div>
										<div class="testi-avatar-content">
											<div class="content">
												<h2 class="title">Rosalina D. Wiliam</h2>
												<p>Founder Of Mirax Co.</p>
											</div>
										</div>
									</div>
									<div class="testi-icon">
										<i class="fas fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="testimonial-item">
								<div class="testimonial-content">
									<p>
										When you think about collecting customer feed back, it’s
										easy to get overwhelmed by the sheer volume of
										possibilities. With so many more customers — and so many
										ways to connect with their feedback — it’s hard to know to
										where to start.
									</p>
								</div>
								<div class="testi-avatar-wrap">
									<div class="testi-avatar-info">
										<div class="testi-avatar-thumb">
											<img
												src="{% static 'assets/img/images/testimonial-avatar02.jpg' %}"
												alt=""
											/>
										</div>
										<div class="testi-avatar-content">
											<div class="content">
												<h2 class="title">Miranda H. Halim</h2>
												<p>Founder Of Yokoloko</p>
											</div>
										</div>
									</div>
									<div class="testi-icon">
										<i class="fas fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="testimonial-item">
								<div class="testimonial-content">
									<p>
										When you think about collecting customer feed back, it’s
										easy to get overwhelmed by the sheer volume of
										possibilities. With so many more customers — and so many
										ways to connect with their feedback — it’s hard to know to
										where to start.
									</p>
								</div>
								<div class="testi-avatar-wrap">
									<div class="testi-avatar-info">
										<div class="testi-avatar-thumb">
											<img
												src="{% static 'assets/img/images/testimonial-avatar03.jpg' %}"
												alt=""
											/>
										</div>
										<div class="testi-avatar-content">
											<div class="content">
												<h2 class="title">Pixerul L. Lulima</h2>
												<p>Founder Of Lulima Ltd.</p>
											</div>
										</div>
									</div>
									<div class="testi-icon">
										<i class="fas fa-star"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="testimonial-item">
								<div class="testimonial-content">
									<p>
										When you think about collecting customer feed back, it’s
										easy to get overwhelmed by the sheer volume of
										possibilities. With so many more customers — and so many
										ways to connect with their feedback — it’s hard to know to
										where to start.
									</p>
								</div>
								<div class="testi-avatar-wrap">
									<div class="testi-avatar-info">
										<div class="testi-avatar-thumb">
											<img
												src="{% static 'assets/img/images/testimonial-avatar02.jpg' %}"
												alt=""
											/>
										</div>
										<div class="testi-avatar-content">
											<div class="content">
												<h2 class="title">Miranda H. Halim</h2>
												<p>Founder Of Yokoloko</p>
											</div>
										</div>
									</div>
									<div class="testi-icon">
										<i class="fas fa-star"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- testimonial-area-end -->

			<!-- brand-area -->
			<section class="brand-area pt-100 pb-70">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-10">
							<div class="section-title text-center mb-50">
								<div class="overlay-title">Sponsor</div>
								<span class="sub-title">-- Sponsors --</span>
								<h2 class="title">Green Sponsors</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner1.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner2.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner3.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner4.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner5.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner6.png' %}"
										alt=""
								/></a>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="brand-item">
								<a href="#"
									><img
										src="{% static 'assets/img/brand/partner7.png' %}"
										alt=""
								/></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- brand-area-end -->

			<!-- blog-area -->
			<section class="blog-area">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6">
							<div class="section-title title-style-two mb-50">
								<div class="overlay-title">News</div>
								<span class="sub-title">-- Blog</span>
								<h2 class="title">Get News Feeds</h2>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6">
							<div class="section-text mb-50">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco
									laboris nisi ut aliquip.
								</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
							<div class="blog-item mb-30 wow fadeInUp" data-wow-delay=".2s">
								<div class="blog-thumb">
									<a href="blog-details.html"
										><img
											src="{% static 'assets/img/blog/blog_img01.jpg' %}"
											alt=""
									/></a>
								</div>
								<div class="blog-content">
									<div class="blog-meta">
										<ul>
											<li>
												<a href="#"><i class="far fa-user"></i>By admin</a>
											</li>
											<li><i class="fas fa-calendar-alt"></i>July 27, 2022</li>
										</ul>
									</div>
									<h2 class="title">
										<a href="blog-details.html"
											>Contrary to popular traditional lorem ipsum is not</a
										>
									</h2>
									<a href="blog-details.html" class="read-more">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
							<div class="blog-item mb-30 wow fadeInUp" data-wow-delay=".4s">
								<div class="blog-thumb">
									<a href="blog-details.html"
										><img
											src="{% static 'assets/img/blog/blog_img02.jpg' %}"
											alt=""
									/></a>
								</div>
								<div class="blog-content">
									<div class="blog-meta">
										<ul>
											<li>
												<a href="#"><i class="far fa-user"></i>By admin</a>
											</li>
											<li><i class="fas fa-calendar-alt"></i>July 27, 2022</li>
										</ul>
									</div>
									<h2 class="title">
										<a href="blog-details.html"
											>Simply popular belief tradition contrary lorem ipsum
											is</a
										>
									</h2>
									<a href="blog-details.html" class="read-more">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-lg-6 col-md-8 col-sm-10">
							<div class="blog-item mb-30 wow fadeInUp" data-wow-delay=".6s">
								<div class="blog-thumb">
									<a href="blog-details.html"
										><img
											src="{% static 'assets/img/blog/blog_img03.jpg' %}"
											alt=""
									/></a>
								</div>
								<div class="blog-content">
									<div class="blog-meta">
										<ul>
											<li>
												<a href="#"><i class="far fa-user"></i>By admin</a>
											</li>
											<li><i class="fas fa-calendar-alt"></i>July 27, 2022</li>
										</ul>
									</div>
									<h2 class="title">
										<a href="blog-details.html"
											>Contrary to popular traditional lorem ipsum is not</a
										>
									</h2>
									<a href="blog-details.html" class="read-more">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- blog-area-end -->

			<!-- newsletter-area -->
			<section class="newsletter-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="newsletter-wrap">
								<div class="newsletter-content">
									<div class="section-title">
										<span class="sub-title">-- Newsletter</span>
										<h2 class="title">Subscribe Now</h2>
									</div>
								</div>
								<div class="newsletter-form">
									<form action="#">
										<input type="text" placeholder="Enter email address" />
										<button type="submit">
											<i class="far fa-envelope"></i>Subscribe Now
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- newsletter-area-end -->
		</main>
		<!-- main-area-end -->

{% endblock %}
